{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'StyleSheets/myorders/myorders_style.css' %}">
</head>
<body>
    {% for j in orders %}
    <div class="container-fluid my">
        <div class="container">
            <!-- Title -->
            <div class="d-flex justify-content-between align-items-center py-3">
                <h2 class="h5 mb-0"><a href="#" class="text-muted"></a> OrderId :{{j.id}}</h2>
            </div>
            <!-- Main content -->
            <div class="row">
                <div class="col-lg-8">
                    <!-- Details -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="mb-3 d-flex justify-content-between">
                                <div>
                                    <span class="me-3">Order-Date : {{j.ordered_date}}</span>
                                    <a href="#"><span class="badge rounded-pill bg-info">{{j.status}}</span></a>
                                </div>
                                <div class="d-flex">
                                    <div class="dropdown">
                                        <button class="btn btn-link p-0 text-muted" type="button" data-bs-toggle="dropdown">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-pencil"></i> Edit</a></li>
                                            <li><a class="dropdown-item" href="#"><i class="bi bi-printer"></i> Print</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex mb-2">
                                                <div class="flex-shrink-0">
                                                    <a href="{% url 'product_detail' j.product.id %}">
                                                        <img src="{{j.product.image1.url}}" alt="" width="35" class="img-fluid">
                                                    </a>
                                                </div>
                                                <div class="flex-lg-grow-1 ms-3">
                                                    <h6 class="small mb-0" style="font-weight: 700;"><a href="#" class="text-reset">product Name : {{j.product.pname}}</a></h6>
                                                    <span class="small">Discription : {{j.product.pdescription}}</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Quantity : {{j.quantity}}</td>
                                        <td class="text-end">Price : {{j.product.selling_price}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">Subtotal</td>
                                        <td class="text-end">{{j.product.discount_price}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Shipping</td>
                                        <td class="text-end">70</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">Discount Percent</td>
                                        <td class="text-danger text-end">-{{j.product.discount_percent}}</td>
                                    </tr>
                                    <tr class="fw-bold">
                                        <td colspan="2">TOTAL</td>
                                        <td class="text-end">{{j.price}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <!-- Payment -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <h3 class="h6"><b>Payment Method</b></h3>
                                    <p>Master Cad <br>Transaction Id:{{j.order_id}}<br>Total Amount Paid: {{j.price}} <span class="badge bg-success rounded-pill">{{j.amount_paid}}</span></p>

                                    <!-- cancle order button-->
                                    <!-- Button trigger modal -->
                                    <br>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                        Cancle Order
                                      </button>
                                      
                                      <!-- Modal -->
                                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Cancel Order</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              Are You Sure if you want to cancel the order press continue button otherwise press cancel button. 
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-success" data-bs-dismiss="modal">cancel</button>
                                              <a href="{% url 'cancleorder' j.id %}" class="btn btn-danger" id="cancel_order">Continue</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                     

                                    <!-- cancle order button-->



                                </div>
                                <div class="col-lg-6">
                                    <h3 class="h6"><b>Billing address</b></h3>
                                    <address>
                                        {{j.customer.customer_name}}<br>
                                        {{j.customer.customer_locality}}<br>
                                        {{j.customer.customer_city}}<br>
                                        {{j.customer.customer_zipcode}}<br>
                                        {{j.customer.customer_state}}<br>
                                        {{j.customer.customer_country}}<br>
                                        <abbr title="Phone">P:</abbr>{{j.customer.phoneNumber}}
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</body>
</html>