{% extends 'homepage_design/base.html' %}
{% load static %}
{% block title %}
Product Details Page
{% endblock title %}

{% block content %}
        {% block product1 %}
        <div class = "products">
            <div class = "container">
                <h1 class = "lg-title">Special  With Offers</h1>
                <div class = "product-items">
                    <!-- single product -->
                    <div class = "product" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src = "images/shoe-1.png" alt = "product image">
                            </div>
                        </div>
                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <h4 class = "product-name">mens shoes DN 23XX</h4>
                            <p class = "product-price">$ 150.00</p>
                            <p class = "product-price">$ 133.00</p>
                            <div class = "product-btns">
                                <button type = "button" class = "btn-cart bt2"> add to cart
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class = "off-info">
                            <h2 class = "sm-title">25% off</h2>
                        </div>
                    </div>
                    <!-- end of single product -->
                    <!-- single product -->
                    <div class = "product" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src = "images/shoe-1.png" alt = "product image">
                            </div>
                        </div>
                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <h4 class = "product-name">mens shoes DN 23XX</h4>
                            <p class = "product-price">$ 150.00</p>
                            <p class = "product-price">$ 133.00</p>
                            <div class = "product-btns">
                                <button type = "button" class = "btn-cart bt2"> add to cart
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class = "off-info">
                            <h2 class = "sm-title">25% off</h2>
                        </div>
                    </div>
                    <!-- end of single product -->
                    <!-- single product -->
                    <div class = "product" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src = "images/shoe-1.png" alt = "product image">
                            </div>
                        </div>
                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <h4 class = "product-name">mens shoes DN 23XX</h4>
                            <p class = "product-price">$ 150.00</p>
                            <p class = "product-price">$ 133.00</p>
                            <div class = "product-btns">
                                <button type = "button" class = "btn-cart bt2"> add to cart
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class = "off-info">
                            <h2 class = "sm-title">25% off</h2>
                        </div>
                    </div>
                    <!-- end of single product -->
                    <!-- single product -->
                    <div class = "product" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
                        <div class = "product-content">
                            <div class = "product-img">
                                <img src = "images/shoe-1.png" alt = "product image">
                            </div>
                        </div>
                        <div class = "product-info">
                            <div class = "product-info-top">
                                <h2 class = "sm-title">lifestyle</h2>
                                <div class = "rating">
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "fas fa-star"></i></span>
                                    <span><i class = "far fa-star"></i></span>
                                </div>
                            </div>
                            <h4 class = "product-name">mens shoes DN 23XX</h4>
                            <p class = "product-price">$ 150.00</p>
                            <p class = "product-price">$ 133.00</p>
                            <div class = "product-btns">
                                <button type = "button" class = "btn-cart bt2"> add to cart
                                    <span><i class = "fas fa-shopping-cart"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class = "off-info">
                            <h2 class = "sm-title">25% off</h2>
                        </div>
                    </div>
                    <!-- end of single product -->
                </div>
            </div>
        </div>
        {% endblock product1 %}
{% endblock content %}
